@import 'tailwindcss';

:root {
  --background: #ffffff;
  --text: #000000;
  --border: rgba(0, 0, 0, 0.5);
  --surface: rgba(0, 0, 0, 0.05);
  --surface-hover: rgba(0, 0, 0, 0.02);
  --highlight: rgba(0, 0, 0, 0.1);
}

@theme inline {
  --color-border: var(--border);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
  --color-highlight: var(--highlight);
}

@theme {
  --text-sm: 14px;
  --text-sm--line-height: 24px;
  --text-sm--font-weight: 400;

  --text-md: 16px;
  --text-md--line-height: 24px;
  --text-md--font-weight: 500;
}

body {
  color: var(--text);
}
